html {
    overflow-x: hidden;
    font-family: "Inter";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* login starts under here */

#login_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#login_form * {
    margin-top: 30px
}

body {
    background-color: #121212;
}

#right_swoosh {
    position: absolute;
    width: 864px;
    height: 721.5px;
    left: 415.5px;
    top: -1px;
    background: #202020;
    border: 1px solid #C94C4B;

}

#corner_circle {
    box-sizing: border-box;
    position: absolute;
    width: 438px;
    height: 438px;
    left: -219px;
    top: 501px;
    border-radius: 100%;
    background: #202020;
    z-index: 3;
    border: 1px solid #C94C4B;
}



#corner_circle2 {
    box-sizing: border-box;
    position: absolute;
    width: 572px;
    height: 572px;
    left: -286px;
    border-radius: 100%;
    top: 434px;
    background: #252525;
    z-index: 2;
    border: 1px solid #C94C4B;
}

#corner_circle3 {
    box-sizing: border-box;
    position: absolute;
    width: 724px;
    height: 724px;
    left: -342.5px;
    border-radius: 100%;
    top: 369.5px;
    background: #303030;
    border: 1px solid #C94C4B;

}

input[type="password"],
input[type="text"] {
    width: 300px;
    height: 45px;
    color: #C94C4B;
    padding-left: 10px;
    font-family: "Inter";
    background-color: #121212;
    border: solid 1px #C94C4B;
    border-radius: 3px;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #C94C4B;
    font-family: "Inter";
    font-size: 10px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #C94C4B;
}

button {
    background-color: #C94C4B;
    width: 315px;
    height: 45px;
    color: white;
}

#login_button {
    border: none;
    border-radius: 3px;
}

#plane_img {
    height: 200px;
    width: 300px;
    margin-top: 50px;
}

#forgot {
    margin-left: 180px;
    margin-top: 10px;
}