#main-flex{
display: flex;
flex-direction: row;
}
#next{
    width: 150px;
}
#seats{
    border-left-color: #C94C4B;
    border-style: solid;
    border-right-color: #C94C4B;
    width: 500px;
    border-top-style:hidden;
    border-bottom-style:hidden;
}
#first-flex{
    
}