@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    overflow-x: hidden;
    font-family: "Inter";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #121212;
}

#admin_page {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    width: 55%;
    background-color: #404040;
    padding: 30px;
    border-radius: 60px;
    margin-left: 26%;
    border: 2px solid #C94C4B;
}
.admin_buttons{
width: 304px;
height: 75px;
left: 307px;
top: 308px;
font-size: 26px;
color: antiquewhite;
background: #C94C4B;
border-radius: 20px;

}

#spaces *{
    margin: 12px 17px;
}
#corner_circle {
    box-sizing: border-box;
    position: absolute;
    width: 438px;
    height: 438px;
    left: -249px;
    top: 501px;
    border-radius: 100%;
    background: #202020;
    z-index: 3;
    border: 1px solid #C94C4B;
}



#corner_circle2 {
    box-sizing: border-box;
    position: absolute;
    width: 572px;
    height: 572px;
    left: -316px;
    border-radius: 100%;
    top: 434px;
    background: #252525;
    z-index: 2;
    border: 1px solid #C94C4B;
}

#corner_circle3 {
    box-sizing: border-box;
    position: absolute;
    width: 724px;
    height: 724px;
    left: -372.5px;
    border-radius: 100%;
    top: 369.5px;
    background: #303030;
    border: 1px solid #C94C4B;

}
#logout{
    width:50px;
    border-radius: 360px;
    align-self: self-end;
    padding-right: 50px;
    padding-bottom: 50px;
}


#logout img {
    width: 50px; 
    height: 50px;     
}
#back{
    width:50px;
    border-radius: 360px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: none;
}

#para{
    color:antiquewhite;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    max-height: 650px;
    overflow-y: auto;
}
#back img {
    width: 50px; 
    height: 50px; 
  }
#main-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: #C94C4B;
    border-style: solid;
    background-color: #303030;
    width: 600px;
    height: 700px;
    margin-left: 400px;
    overflow: hidden; 
}



.waitlist-table,
.activeFlights-table {
    width: 96.5%; 
    border-collapse: collapse;
}

.waitlist-table th,
.waitlist-table td,
.activeFlights-table th,
.activeFlights-table td {
    padding: 8px;
    border: 1px solid antiquewhite;
    text-align: center;
}

.waitlist-table th,
.activeFlights-table th {
    background-color: antiquewhite;
}

.promote_button {
    background-color: #C94C4B;
    width: 130px;
    border-radius: 30px;
}
::-webkit-scrollbar {
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #C94C4B;
}

#remove{
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1px;


}
#add{
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1px;

}

#remove * {
    margin-top: 30px
}
#add * {
    margin-top: 30px
}
#add-content{
    margin-left: 20%;
}
#remove-content{
    margin-left: 20%;
}
input[type="date"] {
    width: 300px;
    height: 45px;
    background-color: #121212;
    border: none;
    color: #C94C4B;
    padding-left: 10px;
    font-family: "Inter";
    border-radius: 3px;
    border: solid 1px #C94C4B;

}
#book_page{
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

#book_page * {
    margin-top: 30px;
}
#average_book_page{
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

#average_book_page * {
    margin-top: 30px;
}