@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    overflow-x: hidden;
    font-family: "Inter";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #121212;
}

#thanks_page {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    text-align: center;
    font-size: large;
    background-color: #404040;
    padding: 30px;
    border-radius: 5px;

}

#corner_circle {
    box-sizing: border-box;
    position: absolute;
    width: 438px;
    height: 438px;
    left: -219px;
    top: 501px;
    border-radius: 100%;
    background: #202020;
    z-index: 3;
    border: 1px solid #C94C4B;
}



#corner_circle2 {
    box-sizing: border-box;
    position: absolute;
    width: 572px;
    height: 572px;
    left: -286px;
    border-radius: 100%;
    top: 434px;
    background: #252525;
    z-index: 2;
    border: 1px solid #C94C4B;
}

#corner_circle3 {
    box-sizing: border-box;
    position: absolute;
    width: 724px;
    height: 724px;
    left: -342.5px;
    border-radius: 100%;
    top: 369.5px;
    background: #303030;
    border: 1px solid #C94C4B;

}

/* login starts under here */

#login_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#login_form * {
    margin-top: 30px
}

/* register starts under here */

#register_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#register_form * {
    margin-top: 30px
}



input[type="password"],
input[type="text"] {
    width: 300px;
    height: 45px;
    color: #C94C4B;
    padding-left: 10px;
    font-family: "Inter";
    background-color: #121212;
    border: solid 1px #C94C4B;
    border-radius: 3px;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #C94C4B;
    font-family: "Inter";
    font-size: 10px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #C94C4B;
}

button {
    background-color: #C94C4B;
    width: 315px;
    height: 45px;
    color: white;
}

#login_button {
    border: none;
    border-radius: 3px;
}

#register_button {
    border: none;
    border-radius: 3px;
}

#new_pass_button {
    border: none;
    border-radius: 3px;
}

#plane_img {
    height: 200px;
    width: 300px;
    margin-top: 50px;
}

#plane_img_thanks {
    height: 200px;
    width: 300px;
    margin-top: 13%;
    margin-left: 40%;
}

#forgot {
    margin-left: 180px;
    margin-top: 10px;
}

#newUser {
    margin-right: 230px;
    margin-top: -20px;
}

#haveAccount {
    margin-left: 140px;
    margin-top: 10px;
}
#logout{
    width:50px;
    border-radius: 360px;
    align-self: self-end;
    padding-right: 50px;
    padding-bottom: 50px;
}

#logout img {
    /* Add styles for the image */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    
  }