#main-flex{
display: flex;
flex-direction: row;
}
#previous{
    width: 150px;
    margin-left: 100px;
}
#next{
    width: 150px;
}
#seats{
    display: flex;
    flex-direction: column;
    border-left-color: #C94C4B;
    border-style: solid;
    border-right-color: #C94C4B;
    border-top-style:hidden;
    border-bottom-style:hidden;
    
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 500px; 
    height: 1000px;
    margin-right: 50px;
}
#letters{
    display: flex;
}
#first-flex{
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 300px; 
}
#next{
    width: 150px;
    margin-left: 50px;
}
#third-flex{
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 250px; 
}
#fourth-flex{
    background-color: gray;
    flex-grow: 0;
    flex-shrink: 0; 
    flex-basis: 300px; 
}