@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
    overflow-x: hidden;
    font-family: "Inter";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #121212;
}

#paymentForm {
    display: flex;
    /* Rectangle 2 */
    flex-direction: column;
    border-radius: 15px;
    padding-top: 30px;
    align-items: center;
    row-gap: 40px;
}

#endDate {
    width: 500px;
    height: 45px;
    background-color: #121212;
    color: #C94C4B;
    border-radius: 10px;
    padding-left: 10px;
    border-color: #C94C4B;
}

input[type=text] {
    width: 500px;
    border-radius: 10px;
    padding-left: 10px;
}

button[type=submit] {
    width: 200px;
    background-color: #121212;
    border-radius: 20px;
    font-size: 20px;
}


input[type="password"],
input[type="text"] {
    height: 45px;
    color: #C94C4B;
    padding-left: 10px;
    font-family: "Inter";
    background-color: #121212;
    border: solid 1px #C94C4B;
    border-radius: 3px;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #C94C4B;
    font-family: "Inter";
    font-size: 10px;
    text-transform: uppercase;
}

button {
    background-color: #C94C4B;
    width: 315px;
    height: 45px;
    color: white;
}
#logout{
    width:50px;
    border-radius: 360px;
    align-self: self-end;
    padding-right: 50px;
    padding-bottom: 50px;
}

#logout img {
    /* Add styles for the image */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    
  }