#main-container{
display: flex;
flex-direction: column;
border-radius: 10px;
border-color:  #C94C4B;
border-style: solid;
background-color: 303030;
width: 600px;
height: 700px;
}
#logout{
    width:50px;
    border-radius: 360px;
    align-self: self-end;
    padding-right: 50px;
    padding-bottom: 50px;
}

#logout img {
    /* Add styles for the image */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    
  }